/* line 6 */
#pads {
  margin: 20px;
  position: relative;
  width: 180px;
  height: 90px;
}

/* line 12 */
.pad {
  border-radius: 50%;
  background-color: #e6e6e6;
  height: 40px;
  width: 40px;
  margin-right: 20px;
  border: 2px solid #6ef7c9;
  text-align: center;
  padding: 5px;
  float: left;
  font-size: 22px;
  color: #777;
  line-height: 36px;
}

/* line 27 */
.active {
  background-color: #6ef7c9;
}

/* line 30 */
body {
  font-family: Helvetica;
}

/* line 33 */
#log {
  height: 200px;
  overflow: scroll;
}

/* line 38 */
#temp {
  border: 1px solid #e6e6e6;
  padding: 10px;
  text-align: center;
  margin: 20px;
  border-radius: 2px;
  width: 140px;
}

/* line 46 */
#distance {
  border: 1px solid #e6e6e6;
  padding: 10px;
  text-align: center;
  margin: 20px;
  width: 140px;
  border-radius: 2px;
}

/* line 54 */
#motorcontrol {
  border: 1px solid #e6e6e6;
  padding: 12px;
  text-align: center;
  margin: 20px;
  width: 180px;
  height: 50px;
  border-radius: 2px;
}
/* line 63 */
#motorcontrol button {
  background-color: #e6e6e6;
  padding: 10px;
  width: 78px;
  border: 2px solid #6ef7c9;
  margin-right: 10px;
  font-size: 16px;
  float: left;
}

/* line 73 */
#joystick {
  height: 200px;
  width: 200px;
  position: relative;
  border: 1px solid #e6e6e6;
  margin: 20px;
  border-radius: 2px;
}

/* line 81 */
#joystickdot {
  border-radius: 50%;
  background-color: #6ef7c9;
  height: 20px;
  width: 20px;
  margin: 5px;
  position: absolute;
}

/* line 90 */
#cubeparent {
  perspective: 800px;
  perspective-origin: 50% 10px;
  border: 1px solid #e6e6e6;
  width: 200px;
  height: 200px;
  margin: 20px;
}

/* line 99 */
#cube {
  position: relative;
  height: 120px;
  width: 120px;
  transition: transform 0.1s linear;
  transform-style: preserve-3d;
  opacity: 0.9;
}

/* line 108 */
.face {
  position: absolute;
  height: 120px;
  width: 120px;
  padding: 20px;
  background-color: #6ef7c9;
  font-size: 27px;
  line-height: 1em;
  color: #fff;
  border-radius: 1px;
  border: 1px solid #e6e6e6;
}

/* line 121 */
#cube .one {
  transform: rotateX(90deg) translateZ(80px);
}

/* line 125 */
#cube .two {
  transform: translateZ(80px);
}

/* line 129 */
#cube .three {
  transform: rotateY(90deg) translateZ(80px);
}

/* line 133 */
#cube .four {
  transform: rotateY(180deg) translateZ(80px);
}

/* line 137 */
#cube .five {
  transform: rotateY(-90deg) translateZ(80px);
}

/* line 141 */
#cube .six {
  transform: rotateX(-90deg) rotate(180deg) translateZ(80px);
}
